<div class="left_bar">
  <div class="top_left_bar">
    <div class="top-left_title">テーマ一へ戻る</div>
  </div>
  <div class="message_top_left_bar">
    <%= link_to image_tag("back_botton.png", class: :message_left_logo), root_path %>
  </div>
</div>