<div class="right_bar">
  <div class="top_right_bar">
    <div class="top-right_title">参加ユーザー</div>
  </div>

  <div class="right_main_user">
    <div class="right_form">
      <% .each do |a| %>
      <div class="right_user_form">
        <div class="right_pic"></div>
        <div class="right_user"><%= link_to , "/" %></div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>