<div class="theme_wrapper">
  <div class="new_left_bar">
    <div class="top_left_bar">
      <div class="top-left_title">テーマ一覧</div>
    </div>

    <div class="left_main_user">
      <div class="left_user_form">
        <%  %>
        <div class="left_theme">
          <%= link_to "", theme_messages_path(theme) %>
        </div>
        <% end %>
      </div>
      <% if "" %>
        <div class="left_theme">
          <%= "ここにテーマが表示されます。" %>
        </div>
      <% end %>
    </div>
  </div>
</div>