// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

// ヘッダー
.header {
  width: 100%;
  height: 60px;
  background-color: #43c1ae;
}

.top-header {
  padding: 0 10px;
}

.nav {
  line-height: 60px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.nav_left {
  display: flex;
}

.logo {
  margin: 5px 5px 0 0;
  height: 50px;
  width: 100px;
}

.user_nav {
  display: flex;
}

.top_user_name a {
  text-decoration: none;
  color: #4a4a4a;
  margin-right: 10px;
}

.top_user_name a:hover {
  color: #ffffff;
}

.grid-6 {
  margin-left: 20px;
}

li {
  list-style: none;
}

.grid-6 a {
  font-size: 15px;
  text-decoration: none;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid #fafafa;
}

.grid-6 a:hover {
  background-color: #4fddc8;
}


// メイン
.wrapper {
  height: calc(100vh - 60px);
  display: flex;
  background-color: #f4fffe;
}


// 左メニュー
.left_bar {
  height: 100%;
  width: 20%;
  padding: 10px;
}

.new_left_bar {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.top_left_bar {
  height: 40px;
  background-color: #b9e9e2;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.top-left_title {
  height: 100%;
  width: 100%;
  text-align: center;
  color: #686868;
}

.left_main_user {
  padding: 0 0 0 10px;
}

.new_theme_form {
  text-align: center;
  margin: 60px 0 35px 0;
}

.new_theme a {
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #43c1ae;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.new_theme a:hover {
  background-color: #4ee2cc;
}

.left_user_form {
  margin-bottom: 10px;
  height: calc(100vh - 170px);
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left_theme {
  padding: 20px 0;
  font-size: 20px;
}

.left_theme a:hover {
  color: #43c1ae;
}

.left_theme a {
  text-decoration: none;
  color: rgb(91, 91, 91);
  margin-bottom: 30px;
}

.message_top_left_bar {
  height: 250px;
  width: 250px;
  background-color: #dbf7f3;
  border-radius: 130px;
  margin: 280px 34.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message_left_logo {
  height: 100px;
  width: 100px;
}



// 真ん中メニュー
.main_chat {
  height: 100%;
  width: 60%;
}

.theme_main {
  height: 125px;
  padding: 10px;
}

.top_theme_main {
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #85cbb1;
  overflow-x: hidden;
}

.top_theme_main::-webkit-scrollbar { 
  display: none;
}

.top-theme_title {
  width: 100%;
  padding: 10px 5px 5px 5px;
  font-size: 18px;
  text-align: center;
  color: #353535;
}

.top-content_title {
  width: 100%;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  text-align: center;
  color: #565656;
}

.main_form {
  height: calc( 100% - 125px);
  padding: 0 10px 10px 10px;
}

.chat_form {
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #85cbb1;
  padding: 10px 20px 10px 20px;
}

.message {
  height: 90%;
  overflow: scroll;
  overflow-x: hidden;
}

.message::-webkit-scrollbar { 
  display: none;
}

.upper-message {
  display: flex;
}

.message-user {
  font-size: 16px;
  color: #434A54;
  margin-top: 7px;
}

.message-date {
  color: #999;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  font-size: 12px
}

.lower-message{
  margin-top: 15px;
  margin-bottom: 20px;
  width: 70%;
}

.message-content {
  display: inline-block;
  font-size: 16px;
  color: #434A54;
  margin: 0 0 10px 35px;
  background-color: #b5ffd1;
  padding: 10px;
  border-radius: 20px;
}

.message-image {
  color: #434A54;
  margin: 0 0 10px 35px;
  background-color: #b5ffd1;
  padding: 10px;
  border-radius: 10px;
}


.current-message_form {
  text-align: right;
}

.current-upper_message {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.current-lower_message {
  width: 70%;
  margin-left: 30%;
  margin-top: 10px;
}

.current-message_content {
  font-size: 14px;
  color: #434A54;
  margin: 0 45px 10px 0;
  background-color: #b5ffd1;
  padding: 10px;
  text-align: right;
  border-radius: 20px;
}

.main-input {
  margin-top: 10px;
  display: flex;
}

.form-input {
  height: 10%;
  background-color: white;
  width: 100%;
  display: flex;
  border: 1px solid #43c1ae;
  border-radius: 10px;
}

.form-image {
  font-size: 15px;
  background-color: #b9e9e2;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 5px 5px 10px;
  text-align: center;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.form-message {
  height: 50px;
  border: none;
  width: 100%;
  padding-left: 10px;
  border-radius: 10px;
}

.form-submit {
  height: 50px;
  font-size: 16px;
  background-color: #43c1ae;
  color: white;
  font-size: 16px;
  border: none;
  padding: 0 15px;
  margin-left: 10px;
  border-radius: 30px;
}



// 右メニュー
.right_bar {
  height: 100%;
  width: 20%;
  padding: 10px;
}

.top_right_bar {
  height: 40px;
  background-color: #b9e9e2;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.top-right_title {
  height: 100%;
  width: 100%;
  text-align: center;
  color: #686868;
}

.right_main_user {
  padding: 0 0 0 20px;
}

.right_form {
  height: calc(100vh - 140px);
  overflow: scroll;
  overflow-x: hidden;
}

.right_user_form {
  margin-bottom: 30px;
  display: flex;
}

.right_pic {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  background-color: #43c1ae;
  margin-right: 5px;
  margin-left: 5px;
}

.right_user {
  margin-top: 5px;
}

.right_user a {
  text-decoration: none;
  color: black;
}
