// Place all the styles related to the themes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.theme_wrapper {
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  background-color: #f4fffe;
}

.chat-room-form {
  width: 980px;
  margin: 100px auto;
  padding: 40px;
  background-color: #ffffff;
  border: 1px solid #49d2bd;
  border-radius: 5px;
  box-sizing: border-box;
  position: absolute;
  top: 60px;
  left: 365px;
}

.chat-room-form h1{
  text-align: center;
}

.chat-room-form__label {
  display: block;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}
.chat-room-form__input {
  width: 80%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.chat-room-form__text {
  width: 80%;
  line-height: 30px;
  height: 300px;
  padding: 10px 15px;
  box-sizing: border-box;
  vertical-align: top;
}

.chat-room-form__action-btn {
  margin-top: 20px;
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: #49d2bd;
  border: 0;
  border-radius: 5px;
  width: 80%;
}
.chat-room-form__field {
  margin-top: 30px;
  text-align: center;
}
.chat-room-form__field:after {
  content: "";
  clear: both;
  display: block;
}

.chat-room-form__field--left {
  width: 30%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.search-main {
  display: flex;
  justify-content: center;
}

.search-input {
  border: 1px solid rgb(132, 132, 132);
  height: 50px;
  border-radius: 5px;
  padding-left: 10px;
  width: 500px;
}

.search-btn {
  border: 1px solid #ffffff;
  color: #f8f8f8;
  background-color: #43c1ae;
  height: 50px;
  width: 60px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-btn:hover {
  background-color: #4ee2cc;
}

.search-result {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 18px;
}



